<div data-bind="if: currentMessage() || createMode()" style="margin: 5%; font-size: 16px; height: 90%; width: 90%;">
	<table style="height: 100%; width: 100%;">
		<tr>
			<td>
				<div class="message_body_info" data-bind="visible: isLoading, i18n: {'key': 'COREWEBCLIENT/INFO_LOADING'}"></div>
				<textarea data-bind="value: messageText, visible: !isLoading(), hasFocus: messageText.focused, 
						valueUpdate: 'keyup', i18n: {'key': '%MODULENAME%/PLACEHOLDER_EMPTY_NOTE', 'type': 'placeholder'}"
						class="note_edit"></textarea>
			</td>
		</tr>
		<tr>
			<td style="height: 45px;">
				<div class="buttons" data-bind="visible: !isLoading()">
					<span class="button" data-bind="text: saveButtonText, click: saveNote"></span>
					<span class="button secondary_button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'}, click: cancel"></span>
				</div>
			</td>
		</tr>
	</table>
</div>
