<div data-bind="if: currentMessage() || createMode()" style="margin: 5%; font-size: 16px; height: 90%; width: 90%;">
	<table style="height: 100%; width: 100%;">
		<tr>
			<td>
				<div class="message_body_info" data-bind="visible: isLoading, i18n: {'key': 'COREWEBCLIENT/INFO_LOADING'}"></div>
				<textarea data-bind="value: messageText, visible: !isLoading()" style="width: 100%; height: 100%; border: none; outline: none;"></textarea>
			</td>
		</tr>
		<tr>
			<td style="height: 45px;">
				<div class="buttons" data-bind="visible: !isLoading()">
					<span class="button" data-bind="i18n: {'key': 'MAILWEBCLIENT/ACTION_SAVE'}, click: saveNote"></span>
				</div>
			</td>
		</tr>
	</table>
</div>
